### Numéricos

Em Python existem três:
- int
- float
- complex

Variáveis do tipo numérico são criadas quando atribuimos valores a elas:

In [1]:
n1 = 35
n2 = 33.5
n3 = 5j

Para verificarmos qual a classe que esta variável pertence, utilizamos a função type()

In [2]:
print(type(n1))
print(type(n2))
print(type(n3))

<class 'int'>
<class 'float'>
<class 'complex'>

Representação de números complexos

In [3]:
c1 = 2+4j
c2 = -3j
c3 = complex(3,4)
print(type(c1)) 
print(type(c2)) 
print(type(c3)) 
print("-------- Também é possível obter a parte imaginária e a real -----------")
print(c1.real)
print(c2.imag)

<class 'complex'>
<class 'complex'>
<class 'complex'>
-------- Também é possível obter a parte imaginária e a real -----------
2.0
-3.0

Conversão

In [4]:
print(n1, float(n1))

35 35.0

In [5]:
print(n2, int(n2))

33.5 33

Arredondamento

In [6]:
from math import *

In [7]:
print(ceil(n2), floor(n2))

34 33

Operadores Aritméticos

In [9]:
print("soma:", 1+1, "| subtração:", 5-1, "| divisão:", 4/2, "| multiplicação:", 3*3, "| potência:", 3**2)

soma: 2 | subtração: 4 | divisão: 2.0 | multiplicação: 9 | potência: 9

Divisão arredondada, ou seja, retorna a parte inteira da divisão

In [10]:
print(5//2)

2

Resto da divisão

In [11]:
print(10%3)

1

In [14]:
10%3

1

### Booleanos

In [12]:
n = (55 == 54)
print(n)
print(type(n))

False
<class 'bool'>

In [13]:
n = (55 > 54)
print(n)
print(type(n))

True
<class 'bool'>

### Texto

In [15]:
s = "uma_palavra"
print(s)

uma_palavra

Strings são sequências

In [16]:
print(s[0])
print(s[2:-1])

u
a_palavr

In [17]:
nome = "Carolina Zambelli Kamada "
print(nome.strip(), len(nome.strip()), len(nome))

Carolina Zambelli Kamada 24 25

In [18]:
print(nome.lower())
print(nome.upper())

carolina zambelli kamada
CAROLINA ZAMBELLI KAMADA

In [19]:
print(nome.replace("Carolina", "Ana"))

Ana Zambelli Kamada

In [20]:
frase = ['Luke', 'Eu sou', 'seu', 'pai']
print(', '.join(frase))
print(' - '.join(frase))

Luke, Eu sou, seu, pai
Luke - Eu sou - seu - pai

In [21]:
print(' '.join(frase).count("e"))

2