### Estruturas de Sequência

#### Listas

Listas são indexadas

In [3]:
lista = ["Isabella", 1, 97, "Manuela", "Nicolas", True, "Bernardo", "Valentina"]
print(lista)
print(lista[0], lista[3:8])

['Isabella', 1, 97, 'Manuela', 'Nicolas', True, 'Bernardo', 'Valentina']
Isabella ['Manuela', 'Nicolas', True, 'Bernardo', 'Valentina']

Listas são mutáveis

In [5]:
lista[2] = 12
print(lista)

['Isabella', 1, 12, 'Manuela', 'Nicolas', True, 'Bernardo', 'Valentina']

In [6]:
lista.append("Carlos")
print(lista)
lista.remove("Carlos")
print(lista)

['Isabella', 1, 12, 'Manuela', 'Nicolas', True, 'Bernardo', 'Valentina', 'Carlos']
['Isabella', 1, 12, 'Manuela', 'Nicolas', True, 'Bernardo', 'Valentina']

Podemos conferir valores em uma lista

In [7]:
print("Ana" in lista) 
print("Ana" not in lista)

False
True

Operações

In [8]:
["Eu, tu"] + ["vós", "eles"]

['Eu, tu', 'vós', 'eles']

Nas listas, a ordem é importante

In [9]:
print([1, 9] == [9, 1])

False

Listas podem ser ordenadas

In [10]:
print(sorted([81, 49, 72, 20, 21, 6, 4, 34, 23, 94]))
print(sorted([81, 49, 72, 20, 21, 6, 4, 34, 23, 94], reverse=True))

[4, 6, 20, 21, 23, 34, 49, 72, 81, 94]
[94, 81, 72, 49, 34, 23, 21, 20, 6, 4]

In [11]:
nums_lst = [81, 49, 4, 20, 21, 6, 4, 34, 4, 94]
print(nums_lst.count(4))
print(nums_lst.index(49))

3
1

#### Tuplas

As tuplas se comportam de forma muito semelhante as listas, mas são objetos imutáveis

In [12]:
lst_tuple = ("Isabella", 1, 97, "Manuela", "Nicolas", True, "Bernardo", "Valentina")

In [14]:
lst_tuple[2]

97

In [13]:
lst_tuple[2] = 100

TypeError: 'tuple' object does not support item assignment

In [15]:
nums_tuple = (81, 49, 4, 20, 21, 6, 4, 34, 4, 94)
print(nums_tuple)
print(sorted(nums_tuple))
print(nums_tuple.count(4))
print(nums_tuple.index(49))

(81, 49, 4, 20, 21, 6, 4, 34, 4, 94)
[4, 4, 4, 6, 20, 21, 34, 49, 81, 94]
3
1

### Estrutura de Conjuntos

In [16]:
nums_set = {81, 49, 4, 20, 21, 6, 4, 34, 4, 94}
print(nums_set)
print(sorted(nums_set))

{34, 4, 6, 81, 49, 20, 21, 94}
[4, 6, 20, 21, 34, 49, 81, 94]

Nos conjuntos a ordem não é relevante

In [17]:
nums_set2 = {49, 4, 20, 21, 6, 34, 94, 81}
print(nums_set == nums_set2)

True

In [18]:
print(20 in nums_set)

True

### Estruturas de Mapeamento

In [19]:
personagem = {
   "nome": "Darth Vader",
   "tipo": "Jedi",
   "episodios":[4, 5, 6]
}

In [20]:
print(personagem.items())
print(personagem.values())
print(personagem.keys())

dict_items([('nome', 'Darth Vader'), ('tipo', 'Jedi'), ('episodios', [4, 5, 6])])
dict_values(['Darth Vader', 'Jedi', [4, 5, 6]])
dict_keys(['nome', 'tipo', 'episodios'])

Adicionando e removendo objetos

In [21]:
personagem["familiares"] = "Luke"
personagem

{'nome': 'Darth Vader',
 'tipo': 'Jedi',
 'episodios': [4, 5, 6],
 'familiares': 'Luke'}

In [22]:
personagem.pop('familiares')
personagem

{'nome': 'Darth Vader', 'tipo': 'Jedi', 'episodios': [4, 5, 6]}

In [23]:
del personagem['episodios']
personagem

{'nome': 'Darth Vader', 'tipo': 'Jedi'}

In [25]:
dict(nome="Carolina", idade=34)

{'nome': 'Carolina', 'idade': 34}

In [24]:
{"nome":"Carolina", "idade":34}

{'nome': 'Carolina', 'idade': 34}

Dicionários aninhados

In [26]:
filmes = {
    "Lord of the Rings":{
        "ano" : 2001,
        "gênero": "Fantasy"
    },
    "Star Wars" : {
        "ano" : 1977,
        "gênero": "Science Fiction"
    }
}
filmes

{'Lord of the Rings': {'ano': 2001, 'gênero': 'Fantasy'},
 'Star Wars': {'ano': 1977, 'gênero': 'Science Fiction'}}

In [29]:
filmes["Star Wars"]["ano"]

1977

### Estruturas de Controle de Fluxo

In [33]:
x = 10
y = 8

if x > y: 
    print("x é maior do que y")
elif x == y:
    print("x e y são iguais")

x é maior do que y

### Estruturas de Repetição

For Loop

In [34]:
for nome in ["Isabella", "Manuela", "Bernardo", "Valentina"]: 
    print(nome)

Isabella
Manuela
Bernardo
Valentina

In [37]:
nomes = ["Isabella", "Manuela", "Bernardo", "Valentina"]
for i in range(len(nomes)):
    print(nomes[i])

Isabella
Manuela
Bernardo
Valentina

In [35]:
for nome in ("Isabella", "Manuela", "Bernardo", "Valentina"): 
    print(nome)

Isabella
Manuela
Bernardo
Valentina

In [36]:
for nome in {"Isabella", "Manuela", "Bernardo", "Valentina"}: 
    print(nome)

Bernardo
Valentina
Isabella
Manuela

While Loop

In [38]:
nomes = ["Isabella", "Manuela", "Bernardo", "Valentina"]
i = 0
while i < len(nomes):
    print(nomes[i])
    i += 1

Isabella
Manuela
Bernardo
Valentina

### List Comprehension

In [39]:
lista = ["Isabella", 1, 97, "Manuela", "Nicolas", True, "Bernardo", "Valentina"]
lista2 = []

for lst in lista:
  if type(lst) == str:
    lista2.append(lst)

print(lista2)

['Isabella', 'Manuela', 'Nicolas', 'Bernardo', 'Valentina']

In [40]:
lista3 = [lst for lst in lista if type(lst) == str]

print(lista3)

['Isabella', 'Manuela', 'Nicolas', 'Bernardo', 'Valentina']